@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap');

body {
  
   
    color: rgb(14, 14, 14);
    font-size: larger;
    background:rgb(154, 221, 242);
    margin: 0;

    
  }

 body nav :hover{
    color: azure;
 }
 body nav a:hover::after{
   width: 100%;
   
 }
 

nav a::after{
   content: '';
   width: 100%;
   height: 10px;
   background: #685efa;
   position: absolute;
  
   transform: translateX(-50%);
   top: -55px;
}

 h1{
   position: relative;
   font-size: 4vw;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    -webkit-text-stroke: 0.3vw rgb(11, 11, 11);
    text-transform: uppercase;
    margin-top: 3em;
    margin-bottom: 3em;
 } 
 
 #main-header{
   background-color: #000;
   width: 100%;
   margin-top: 0;

 }
 h2{
   margin-bottom: 2em;
 }

 #main-header nav ul{
   display: flex;
   justify-content: space-around;
   padding: 1em 1em;
   margin-top: 0;
   list-style-type: none;
   
 }
 #main-header nav ul li a{
   color: #fff;
   text-decoration: none;
 }
 body main{
   justify-content: center;
   align-items: center;
   text-align: center;
   
}
#a-div{
   background-color: #fff;
   width: 10%;
   margin: 0 auto;
   border-radius: 10px;
   
}
#main-a{
   text-decoration: none ;
  
}

img{
  float: right;
  margin-right: 16px;
  width: 150px;
}